*{
  margin: 0;
  padding: 0;
}

.card{
  width: 360px;
  height: 200px;
  border: 1x solid black;
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-content: center;
  /* margin: 20px; */
  margin: 0 auto;

}

.score{
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  margin-left: 20px;
}

.card h1{
  font-size: 1.2em;
} 
.card h3{
  font-size: .8em;
  text-align: left;
} 

.card img{
  width: 140px;
} 

