.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
  /* border: 1px solid black; */
}
.wrapper img {
  width: 100%;
}
.left {
  width: 140px;
  text-align: left;
  margin-left: 20px;
  font-size: 36px;
}
.photo {
  width: 120px;
}

button {
  font-size: 24px;
  padding: 20px;
}
