.App {
  text-align: center;
}

img.item {
  width: 5vw;
  height: auto;
  margin: 15px;
}

ul {
  display: flex;
  flex-direction: column;
}

li {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

p, h2 {
  padding: 0 30px;
  margin-bottom: 0;
}

.header {
  display: flex;
  flex-flow: row;
  margin-left: 15px;
}

p {
  text-align: end;
}