.container{
 margin: 0 20%;
}

.card-list{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.card-list .card{
  display: flex;
  margin: 10px auto;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  list-style: none;
  overflow: hidden;
  height: 150px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.card-list .card h1{
  font-size: 1.5em;
}

.card-list .card img{
  width: 100px;
}

.card-list .card p{
  margin-right: 20px;
}

.btn{
  width: 200px;
  padding: 20px;
  margin: 40px auto;
  display: block;
}